*{margin: 0px; padding: 0px; list-style: none; box-sizing: border-box; text-decoration: none;  }

.my_logo{text-align: center; padding: 52px 0 25px 0;}
.my_logo a{font-size: 48px; font-family:'Times New Roman', Times, serif; font-weight: bold; color: #333; }
.nav{width: 960px; margin: auto;}
.nav ul{display: flex; justify-content: space-between; align-items: center;}
.nav ul span{display: block; height: 1px; width: 220px; background-color: #d0d0d0;}
.nav ul li a{padding: 10px 14px; display: block; color: #8e8e8e; font-size: 16px;}
.active{background-color: rgb(246, 246, 246); color: #484848;}
.nav ul li a:hover{background-color: rgb(246, 246, 246);}
.home_content{width: 915px; margin: auto; display: flex; justify-content: space-between; padding-top: 65px; }
.home_content
.home_content_left{width: 228px; height: 275px; }
.home_content_left img{display: block; width:100%; height:auto;height: 100%;}
.home_content_right p{font-size: 16px;}
.home_content_right strong{font-size: 16px;}
.home_content_left p{text-align: center; display: block; color: #8e8e8e; font-size: 16px;}
.home_content_right{width: 570px; line-height: 24px; letter-spacing: 1px;}
.home_link{color: #8d2424; font-weight: bold; font-size: 16px;}

.language{font-size: 12px !important; display: flex; width: 960px;  align-items: center;margin: auto; justify-content: end;}
.language img{display: block; width: 20px; height: 20px;}
.language a{display: flex; color: #333;}
/* cv.css */
.cv_link{display: block; width: 210px; font-size: 16px; line-height: 37px; text-align: center; color: #fff; font-weight: bold; background-color: rgb(92, 176, 194); margin: 60px auto 0 auto; }

/* research */
.research {width: 912px; margin: auto; padding-top: 65px;}
.research h2{margin: 20px 0; font-size: 22px;}
.this_info{ line-height: 30px;}
.this_info li a{color: #8d2424; font-size: 16px;}
.this_img{width: 105px; height: 140px; border: 1px solid #b6b3b3; }
.this_img img{display: block; width: 100%; height: 100%; padding: 3px;}
.re_item{display: flex; justify-content: space-between; margin-bottom: 30px;}
.this_info p a{color: #8d2424;}
.this_info p{font-size: 12px; padding-left: 10px; display: flex; align-items: center;}
.jou{font-size: 15px !important;}

/* teaching */
.teaching{width: 912px; margin: auto; line-height: 35px; padding-top: 65px;}
.teaching li{padding-left: 60px; position: relative; font-size: 16px;}
.teaching li::before{position: absolute; width: 4px; height: 4px;  background-color: rgb(144, 153, 159); left: 38px; border-radius: 50%; top: 15px; content: '';}
.te_title{font-weight: bold; font-size: 16px;}
.teaching span{font-size: 16px;}
/* contact */
.contact{width: 942px; margin: auto; padding-top: 65px; display: flex; }
.contact_img{width: 388px; height: 388px; margin-right: 30px;}
.contact_img img{display: block; width: 100%; height: 100%;}
.contact_right p{margin-bottom: 10px; display: flex; font-size: 16px;}
.contact_right p a{font-size: 16px;}
.xiao{line-height: 24px !important;}
.contact_right b{display: block; margin-right: 3px;}

.footer{height: 129px; background-color: rgb(249, 249, 249);}
.mobile{display: none;}
